name: Update emacs-overlay

on:
  schedule:
    - cron: '0 */8 * * *'
  workflow_dispatch:

jobs:
  refresh-overlay:
    name: Refresh inputs
    runs-on: ubuntu-latest
    if: github.repository_owner == 'nix-community'
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2.3.4

    - name: Install Nix
      uses: cachix/install-nix-action@v13
      with:
        install_url: https://releases.nixos.org/nix/nix-2.11.0/install
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/master.tar.gz

    - name: Add nix-community cache
      uses: cachix/cachix-action@v10
      with:
        name: nix-community

    - name: Configure Git
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Update inputs
      run: |
        ./update

    - name: Push commit with updated inputs
      run: |
        git pull --rebase --autostash
        git push
