name: Checks

on:
  pull_request:
  push:

jobs:
  flake-show:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - id: set-matrix
        name: Evaluate flake
        run: nix flake show --all-systems
